.contact {
    display: flex;
    flex-wrap: wrap;
    padding-left: 210px;
    flex-direction: column;
    @include desktop {
        padding-left: 60px;
    }
    @include tablets {
        padding-left: 0;
    }
}

.contact__title {
    margin-top: 38px;
    width: 100%;
    @include desktop {
        margin-top: 0;
    }
    @include tablets {
        text-align: center;
    }
}