.iconed-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    @include desktop {
        padding-left: 34px;
    }
    @include tablets {
        padding-left: 0;
    }
    @include phones {
        text-align: left;
    }
}

.iconed-link__icon {
    fill: #586ed3;
    width: 15px;
    height: 15px;
}

.iconed-link__text {
    color: #586ed3;
    @include osans();
    font-size: 18px;
    font-weight: 700;
    padding-left: 22px;
}