.reviews {
    display: flex;
    flex-wrap: wrap;
    padding-left: 210px;
    padding-top: 138px;
    flex-direction: column;

    @include desktop {
        padding-top: 46px;
        padding-left: 60px;
        letter-spacing: 2px;
    }
}

.reviews__title {
    display: flex;
    width: 100%;
}

.reviews__list {
    display: flex;
    justify-content: space-between
}

.reviews__slider {
    width: 932px;
    margin-top: 80px;
}