.reviews {
    display: flex;
    flex-wrap: wrap;
    padding-left: 160px;
    padding-top: 120px;
    flex-direction: column;
}

.reviews__title {
    display: flex;
    width: 100%;
}

.reviews__list {
    display: flex;
}

.reviews__slider {
    max-width: 950px;
}