.scroll-down-btn {
    color: #464d62;
    @include osans();
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}

.scroll-down-btn__icon {
    width: 30px;
    display: block;
    fill: #464d62;
}