.skills-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @include desktop {

        &:not(:first-child) {
            padding-top: 42px;
        }
    }

}

.skills-row__title {
    width: 100%;
    text-align: left;
    color: #464d62;
    @include osans();
    font-size: 24px;
    font-weight: 700;
    @include tablets {
        text-align: center;
        font-size: 22px;
    }
}

.skills-row__list {
    width: 100%;
    display: flex;
}