.skills-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skills-row__title {
    width: 100%;
    text-align: left;
    color:#464d62;
    @include osans();
    font-size: 24px;
    font-weight: 700;
}

.skills-row__list{
    width: 100%;
    display: flex;
}
