.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.tags__item {
    display: inline-flex;
    border-radius: 22px;
    background-color: rgba(#859fc2,0.1);
    color: rgba(#464d62, 0.7);
    @include osans();
    font-size: 15px;
    font-weight: 700;
    padding: 12px 16px;
    margin-right: 16px;
}