.triangles {
  display: flex;
  color: #fff;

  &--indented {
    margin-top: -120px;
    @include desktop {
      margin-top: -192px;
    }
    @include tablets {
      margin-top: -176px;
    }
    @include phones {
      margin-top: -20px;
    }
  }
}

.triangles__item {
  width: 50%;
  display: block;
  height: 120px;
  fill: currentColor;
  @include tablets {
    height: 54px;
  }
  @include phones {
    height: 20px;
  }
}
