.triangles {
  display: flex;
  margin-top: -120px;
  color: #fff;
}

.triangles__item {
  width: 50%;
  display: block;
  height: 120px;
  fill: currentColor;

  &--rotated {
    transform: rotate(180deg);
  }
}
