.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome__desc {
    width: 100%;
    padding-bottom: 20px;
}

.welcome__title {
    opacity: 0.4;
    color: #464d62;
    @include osans();
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.welcome__username {
    @include osans();
    color: #464e62;
    font-size: 72px;
    font-weight: 900;
    line-height: 60px;
}