.hooper {
    height: auto !important;
}

.hooper-next, .hooper-prev {
    background-color: transparent;
    border: none;
    padding: 0!important;
    position: absolute;
    top: -100px !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.hooper-next {
    left: 59% !important;
}

.hooper-prev {
    left: 51% !important;
}